<app-view-toggle [currentView]="currentView" (viewChange)="onViewChange($event)"></app-view-toggle>

<div class="view-container">
  <div class="view-wrapper" [class.show-terminal]="currentView === 'terminal'">
    <div class="view main-view"
         [@slideAnimation]="currentView === 'main' ? 'visible' : 'hidden'"
         [style.visibility]="currentView === 'main' ? 'visible' : 'hidden'">
      <app-portfolio/>
    </div>

    <div class="view terminal-view-wrapper"
         [@slideAnimation]="currentView === 'terminal' ? 'visible' : 'hidden'"
         [@terminalCloseAnimation]="terminalCloseAnimation"
         [style.visibility]="currentView === 'terminal' ? 'visible' : 'hidden'">
      <app-terminal-view (closeWindow)="onTerminalAction($event)"></app-terminal-view>
    </div>
  </div>
</div>
